@model List<Employee>;
@{
    ViewBag.Title = "Employees";
}
@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <b>Search Employees</b>
    <br />
    @Html.TextBox("Search")
    <input type="submit" value="Search" />

}
<table>
    <tr>
        <th>Employee</th>
        <th>Action</th>
    </tr>

    @foreach (var emp in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(linkText : emp.FirstName + " " + emp.LastName,
                        actionName: "Details",
                        controllerName: "Employee",
                        routeValues: new{ Id = emp.Id},
                        htmlAttributes: null)
            </td>
            
            <td>
                <span>&emsp;&emsp;</span>
                @Html.ActionLink(linkText : "Edit",
                        actionName: "Edit",
                        controllerName: "Employee",
                        routeValues: new{ Id = emp.Id},
                        htmlAttributes: null)
                
                @Html.ActionLink(linkText : "Delete",
                        controllerName: "Employee",
                        actionName: "Delete",
                        routeValues: new{ Id = emp.Id},
                        htmlAttributes: null)
            </td>

        </tr>


    }
</table>
<br \>
@Html.ActionLink(linkText : "Create new employee",
        actionName: "Create",
        controllerName: "Employee")
